$colorletra: #F2F2F2;
$colorbuscador: #260101;

$colorNotificacion: #fad2b8;
$colorNotificacionActivo: #58deac;
$fuentePequena: 16px;
$tituloTres: 25px;

/*color gradiente*/

$colorGradiente-1: #f1335f;
$colorGradiente-2: #7826c8;
$colorGradiente-3: #ff955f;
$colorGradiente-4: #ff3555;



$colorFondo: #1a2030;
$colorPrincipal: #f0f0f1;
$colorSecundario: #131927;
$colorTerciario: #575e71;
$transparente: #ffffff00;
$colorBarra: #121621;